<div class="container-fluid">
    <app-page-title title="Product Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-xl-5">

                        <div class="tab-content pt-0">
                            <div class="tab-pane d-block">
                                <img id="expandedImg" src="assets/images/products/product-9.jpg" alt=""
                                    class="img-fluid mx-auto d-block rounded">
                            </div>
                        </div>

                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a href="javascript: void(0);" data-toggle="tab" class="nav-link product-thumb show">
                                    <img src="assets/images/products/product-9.jpg" alt=""
                                        class="img-fluid mx-auto d-block rounded" (click)="imageShow($event)">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript: void(0);" data-toggle="tab" class="nav-link product-thumb">
                                    <img src="assets/images/products/product-10.jpg" alt=""
                                        class="img-fluid mx-auto d-block rounded" (click)="imageShow($event)">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript: void(0);" data-toggle="tab" class="nav-link product-thumb">
                                    <img src="assets/images/products/product-11.jpg" alt=""
                                        class="img-fluid mx-auto d-block rounded" (click)="imageShow($event)">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript: void(0);" data-toggle="tab" class="nav-link product-thumb">
                                    <img src="assets/images/products/product-12.jpg" alt=""
                                        class="img-fluid mx-auto d-block rounded" (click)="imageShow($event)">
                                </a>
                            </li>
                        </ul>
                    </div> <!-- end col -->
                    <div class="col-xl-7">
                        <div class="pl-xl-3 mt-3 mt-xl-0">
                            <a href="#" class="text-primary">Jack & Jones</a>
                            <h4 class="mb-3">Jack & Jones Men's T-shirt (Blue)</h4>
                            <p class="text-muted float-left mr-3">
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star"></span>
                            </p>
                            <p class="mb-4"><a href="" class="text-muted">( 36 Customer Reviews )</a></p>
                            <h6 class="text-danger text-uppercase">20 % Off</h6>
                            <h4 class="mb-4"><span class="text-muted mr-2"><del>{{productData?.valor}}R$</del></span>
                                <b>{{productData?.valor}}R$</b></h4>
                            <h4><span *ngIf="productData?.quantidade > 0"
                                    class="badge bg-soft-success text-success mb-4">Disponível: {{productData?.quantidade}} itens</span></h4>
                            <h4><span *ngIf="productData?.quantidade == 0"
                                    class="badge bg-soft-danger text-danger mb-4">Fora de estoque</span></h4>
                            <p class="text-muted mb-4">{{productData?.descricao}}</p>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <p class="text-muted"><i
                                                class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>
                                            Sed ut perspiciatis unde</p>
                                        <p class="text-muted"><i
                                                class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>
                                            Nemo enim ipsam voluptatem</p>
                                        <p class="text-muted"><i
                                                class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>
                                            Temporibus autem quibusdam et</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <p class="text-muted"><i
                                                class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>
                                            Itaque earum rerum hic</p>
                                        <p class="text-muted"><i
                                                class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>
                                            Donec quam felis ultricies nec</p>
                                    </div>
                                </div>
                            </div>
                                <label class="my-1 mr-2" for="quantityinput">Quantity</label>
                                <input [(ngModel)]="productData.quantityPurchased" class="form-control my-1 mr-2" id="quantityinput" type="number" name="number" style="width: 80px;" min="0" [max]="productData?.quantidade">
                            <div>
                                <button type="button" class="btn btn-success" (click)="addToCart()" [disabled]="productData?.quantityPurchased == 0">
                                    <span class="btn-label"><i class="mdi mdi-cart"></i></span>Add to cart
                                </button>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>