<div class="container-fluid">
    <app-page-title title="Cadastro de produto" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div *ngIf="loader" class="row" style="justify-content: center;">
        <div class="spinner-grow avatar-lg text-secondary m-2" role="status"></div>
    </div>
    <div *ngIf="!loader" class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <form [formGroup]="productForm">
                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Cadastro de produto</h5>

                    <div class="form-group mb-3">
                        <label for="product-name">Nome do produto <span class="text-danger">*</span></label>
                        <input type="text" id="product-name" class="form-control"
                        name="name" formControlName="name" autocomplete="off">
                    </div>

                    <div class="form-group mb-3">
                        <label for="product-reference">Marca <span class="text-danger">*</span></label>
                        <input type="text" id="product-reference" class="form-control"
                        name="reference" formControlName="reference" autocomplete="off">
                    </div>

                    <div class="form-group mb-3">
                        <label for="product-description">Descrição <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="product-description" rows="5"
                            name="description" formControlName="description" autocomplete="off"></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="product-price">Valor <span class="text-danger">*</span></label>
                        <input type="text" class="form-control price" id="product-price"
                            name="price" formControlName="price" autocomplete="off" currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    </div>

                    <div class="form-group mb-3">
                        <label for="product-price">Quantidade <span class="text-danger">*</span></label>
                        <input class="form-control my-1 mr-2" id="quantityinput" 
                        type="number" name="quantity" formControlName="quantity" autocomplete="off"
                        style="width: 80px;" min="0">
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-2">Status <span class="text-danger">*</span></label>
                        <br />
                        <div class="radio form-check-inline">
                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                            <label for="inlineRadio1"> Visível </label>
                        </div>
                        <div class="radio form-check-inline">
                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                            <label for="inlineRadio2"> Oculto </label>
                        </div>
                    </div>

                    <div class="form-group mb-0">
                        <label>Notas do vendedor</label>
                        <textarea class="form-control" rows="3" autocomplete="off"></textarea>
                    </div>
                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->

        <div class="col-lg-6">

            <div class="card-box">
                <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Imagens do produtos</h5>
                <file-upload #fileUpload class="dropzone"></file-upload>
            </div> <!-- end col-->

        </div> <!-- end col-->
    </div>
    <!-- end row -->

    <div *ngIf="!loader" class="row">
        <div class="col-12">
            <div class="text-center mb-3">
                <button type="button" class="btn w-sm btn-light waves-effect" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn w-sm btn-success ml-1" (click)="submitForm()">Save</button>
                <button type="button" class="btn w-sm btn-danger ml-1" (click)="onDelete()">Delete</button>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>