<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card card-register">

          <ngb-tabset justify="justified" type="pills">
            <ngb-tab title="Cliente">
              <ng-template ngbTabContent>
                <div class="tab-content">
                  <div class="card-body" style="padding-top: 0;">
                    <!-- Logo-->
                    <div class="text-center w-75 m-auto">
                      <a routerLink="/account/login">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077012.svg" alt="" height="150" />
                      </a>
                    </div>

                    <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                      novalidate>

                      <app-ui-preloader [display]="loading"></app-ui-preloader>

                      <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                      <div class="form-group mb-3">
                        <label for="name">Nome</label>

                        <input type="text" formControlName="name" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name"
                          placeholder="Seu nome" />

                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Nome é obrigatório</div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="email">Email</label>

                        <input type="email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Seu email" />

                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                          <div *ngIf="f.email.errors.email">Email inválido</div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="password">Senha</label>

                        <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
                          placeholder="Sua senha" />

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                        </div>
                      </div>

                      <div class="form-group mb-0 text-center">
                        <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
                      </div>
                    </form>
                  </div>
                  <!-- end card-body -->
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Lojista">
              <ng-template ngbTabContent>
                <div class="tab-content">
                  <div class="card-body" style="padding-top: 0;">
                    <!-- Logo-->
                    <div class="text-center w-75 m-auto">
                      <a routerLink="/account/login">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/884/884268.svg" alt="" height="150" />
                      </a>
                    </div>

                    <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                      novalidate>

                      <app-ui-preloader [display]="loading"></app-ui-preloader>

                      <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                      <div class="form-group mb-3">
                        <label for="name">Nome da loja</label>

                        <input type="text" formControlName="name" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name"
                          placeholder="Nome da loja" />

                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Nome é obrigatório</div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="email">Email</label>

                        <input type="email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email da loja" />

                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                          <div *ngIf="f.email.errors.email">Email inválido</div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="password">Senha</label>

                        <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
                          placeholder="Senha de acesso" />

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                        </div>
                      </div>

                      <div class="form-group mb-0 text-center">
                        <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
                      </div>
                    </form>
                  </div>
                  <!-- end card-body -->
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50">Já possui conta? <a routerLink="/account/login" class="text-white ml-1"><b>Log
                  In</b></a></p>
          </div> <!-- end col-->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  2015 - 2019 &copy; UBold theme by <a href="" class="text-white-50">Coderthemes</a>
</footer>